@use "sass:map";

.formSummaryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 140px;
  &__step {
    font-size: 36px;
  }

  &__gave {
    display: flex;
    flex-direction: column;

    > p {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    > div {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-bottom: 20px;

      > img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__data {
    display: flex;
    justify-content: flex-start;
    column-gap: 200px;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > p {
        font-size: 24px;
        margin-bottom: 20px;
      }

      > div {
        > p {
          font-size: 24px;
          font-weight: 300;
          margin: 10px 0;
        }
      }
    }
  }

  &__btn {
    padding: 20px 50px;
    background-color: transparent;
    border: 1px solid map.get($colors, "dark-gray");
    cursor: pointer;

    &--after {
      margin-right: 30px;
    }
  }
}
