%btn-reset {
  border: none;
  background-color: transparent;
  font-family: $font-base;

  &:hover {
    cursor: pointer;
  }
}

%fancy-border {
  width: 253px;
  height: 33px;

  background-size: 100% 100%;
  background-position: center;
  background-image: url("assets/Decoration.svg");
}
