@use "sass:map";

header.headerContainer {
  display: flex;
  min-height: 100vh;

  > div.header__img {
    display: none;
    @include desktop() {
      display: block;
      height: 100vh;
      width: 885px;

      background-size: 100% 100%;
      background-position: center;
      background-image: url("assets/Home-Hero-Image.jpg");
      background-repeat: no-repeat;
    }
  }

  > div.header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    height: 100vh;

    > div.header__content__loginRegister {
      align-self: flex-end;

      > button {
        @extend %btn-reset;
        color: map.get($colors, "light-gray");

        font-size: 14px;

        &:last-of-type {
          padding: 10px 25px;
          margin-left: 20px;

          border: 1px solid map.get($colors, "gold");
        }
      }
    }

    > nav.header__content__navigation {
      height: 42px;
      width: 683px;

      > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;

        > li {
          color: map.get($colors, "dark-gray");

          padding: 10px 10px;

          list-style: none;

          &:hover {
            border: 1px solid map.get($colors, "dark-gray");
            cursor: pointer;
          }
        }
      }
    }

    > div.header__content__titleAndBtns {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      margin: auto;

      width: 675px;
      height: 350px;

      > h1 {
        text-align: center;
        font-size: 38px;
        letter-spacing: -0.76px;
        line-height: 1.75;
      }

      > div.header__content__titleAndBtns__border {
        width: 253px;
        height: 33px;

        background-size: 100% 100%;
        background-position: center;
        background-image: url("assets/Decoration.svg");
      }

      > div.header__content__titleAndBtns__buttons {
        display: flex;
        justify-content: space-between;

        width: 100%;

        > button {
          @extend %btn-reset;
          color: map.get($colors, "dark-gray");

          width: 310px;
          height: 120px;

          border: 1px solid map.get($colors, "dark-gray");

          font-size: 36px;
          text-align: center;
        }
      }
    }
  }
}
