@use "sass:map";

.formStepThreeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 140px;

  &__step {
    font-size: 24px;
    color: map.get($colors, "dark-gray");
  }

  &__localizationWrapper {
    font-size: 36px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    > label {
      font-size: 36px;
    }

    > select {
      appearance: none;
      outline: none;
      background-color: transparent;
      width: 300px;
      height: 50px;
      text-align: center;
      cursor: pointer;
      font-size: 24px;

      > option {
        appearance: none;
        background-color: #eeedeb;
        font-size: 24px;
      }
    }
  }

  &__whoDoYouWantHelpsWrapper {
    > span {
      font-size: 24px;
    }

    > div {
      margin-top: 20px;
      > div {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        > label {
          font-size: 24px;
          font-weight: 300;
          margin-left: 20px;
          cursor: pointer;
        }

        > input {
          appearance: none;
          width: 40px;
          height: 40px;
          border: 1px solid map.get($colors, "dark-gray");
          cursor: pointer;

          &:checked {
            background-color: map.get($colors, "gold");
          }
        }
      }
    }
  }

  &__optionalOrganizationWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    > label {
      font-size: 24px;
      font-weight: 600;
    }

    > input {
      width: 570px;
      height: 40px;
      background-color: transparent;
      outline: none;
      font-size: 24px;
    }
  }

  &__btn {
    padding: 20px 50px;
    background-color: transparent;
    border: 1px solid map.get($colors, "dark-gray");
    cursor: pointer;

    &--before {
      margin-right: 30px;
    }
  }
}
