@use "sass:map";

section.sectionWhoWeHelpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: calc(100vh - 100px);
  margin: 50px 0;

  color: map.get($colors, "dark-gray");

  > h4 {
    font-size: 38px;
    letter-spacing: -0.76px;
    text-align: center;
  }

  div.sectionWhoWeHelpContainer__kindsOfInstitution {
    display: flex;
    column-gap: 30px;

    > button {
      @extend %btn-reset;

      padding: 20px 40px;

      font-size: 24px;

      background-color: transparent;
    }
  }

  > p.sectionWhoWeHelpContainer__content {
    font-size: 22px;
    text-align: center;
    max-width: 640px;
  }
}
