@use "sass:map";

ul.informationContainer {
  display: flex;
  flex-direction: column;

  width: 75%;

  @include tablet() {
    width: auto;
    margin: 35px 0;
  }

  > li.informationContainer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80px;

    border-bottom: 1px solid map.get($colors, "dark-gray");

    font-family: $font-alt;

    color: map.get($colors, "dark-gray");

    > div.informationContainer__list__left {
      > p {
        text-align: left;
        &:first-of-type {
          font-size: 26px;

          @include tablet() {
            font-size: 22px;
          }
        }

        &:last-of-type {
          font-size: 18px;

          @include tablet() {
            font-size: 16px;
          }
        }
      }
    }

    > div.informationContainer__list__right {
      > p {
        font-size: 18px;
        text-align: right;
        font-weight: 300;

        @include tablet() {
          font-size: 16px;
        }
      }
    }
  }
}
